@import url("style.css");
@import url("./utils.css");
@import url("./components/home.css");
@import url("./responsive.css");
/*tablet*/


@media (max-width: 768px) {
    .container .h-habilidades .h-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

}

/*mobile*/
@media (max-width: 550px) {

    .container .h-name {
        margin-top: 10%;
        margin-bottom: 50px;
    }

    .container .h-sobre .paragrfo {
        font-weight: normal;
        text-align: justify;
        font-size: 18px;
    }

    .container .h-name h1 {
        font-size: 28px;

    }

    .container .h-name h2 {
        font-size: 22px;
    }

    .container .h-sobre {
        width: 100%;
        min-height: 100px;
        margin-bottom: 50px;
    }

    .container .h-sobre .h-title-sobre h2 {
        margin-top: 5%;
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    /*Experiencias*/
    .container .h-experiencia .h-title-experiencia h2 {
        flex-wrap: wrap;
        margin-top: 5%;
        font-size: 22px;
    }

    .container .h-experiencia .h-items .item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        min-height: 220px;
        width: 100%;
        margin-bottom: 50px;
    }

    .container .h-experiencia .h-items .item .work,
    .paragrfo {
        min-width: 100%;
        min-height: 80px;
    }

    .container .h-experiencia .h-items .item .work h2 {
        text-align: center;
    }

    .container .h-experiencia .h-items .item .work p {
        text-align: center;
    }



    .descricao,
    .sobre {
        min-width: 100%;
        min-height: 100px;
    }

    /*educação*/

    h1,
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .educacao .item {
        margin-bottom: 50px;
    }

    .educacao .item .title {
        margin-bottom: 20px;
    }

    .educacao .item .title .h2,
    span {
        font-size: 22px;
    }

    /*habilidades*/
    .container .h-habilidades .h-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .container .h-habilidades .h-title-habilidades h2{
       margin-top:5%;
       font-size:22px;
    }
    .container .h-habilidades .title{
      min-width:100%;
      margin-bottom: 10px;
    }
    .container .h-habilidades .title .icon{
     width:100%;
     
    }
.h-contato .item p {
    display: flex;
    justify-self: center;
       align-self: center;
    }
}